<h1>New Hangman Game</h1>

<% if flash[:confirm] %>
  <h2><%= flash[:confirm] %></h2>
<% end %>

<%= form_for @game do |f| %>
  <% if @game.errors.any? %>
    <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <label>Name of Word Chooser:</label>
    <%= f.text_field :word_chooser %>
  </p>
  <p>
    <label>Name of Guesser:</label>
    <%= f.text_field :guesser %>
  </p>
  <p>
    <label>Word (5-8 characters):</label>
    <%= f.text_field :word %>
  </p>
  <p class="buttons">
    <%= f.submit "Create Game" %>
  </p>
<% end %>
