<h1>Game between <%= @game.word_chooser %> and <%= @game.guesser %></h1>

<% if flash[:confirm] %>
  <h2><%= flash[:confirm] %></h2>
<% end %>

<div id="hangman">
  <div id="base"></div>
  <div id="side"></div>
  <div id="top"></div>
  <div id="noose"></div>

  <% if @game.guesses.incorrect.count >= 1 %>
    <div id="head"></div>
  <% end %>
  <% if @game.guesses.incorrect.count >= 2 %>
    <div id="body"></div>
  <% end %>
  <% if @game.guesses.incorrect.count >= 3 %>
    <div id="left-arm"></div>
  <% end %>
  <% if @game.guesses.incorrect.count >= 4 %>
    <div id="right-arm"></div>
  <% end %>
  <% if @game.guesses.incorrect.count >= 5 %>
    <div id="left-leg"></div>
  <% end %>
  <% if @game.guesses.incorrect.count >= 6 %>
    <div id="right-leg"></div>
  <% end %>
</div>

<div id="letters">
  <% @game.letters.each do |letter| %>
    <span class="letter">
      <%= @game.guessed_letter?(letter) ? letter : "&nbsp;".html_safe %>
    </span>
  <% end %>
</div>

<%= form_for [@game, @guess] do |f| %>
  <% if @guess.errors.any? %>
    <ul>
      <% @guess.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <label>Guess</label>
    <%= f.text_field :letter, :size => 1, :maxlength => 1 %>
    <%= f.submit "Play" %>
  </p>
<% end %>

